@page "/add-item"
@attribute [Authorize(Roles = "InventoryManager")]

@using SEP3_T1_BlazorUI.Models;
@using SEP3_T1_BlazorUI.Application.UseCases;

@inject SEP3_T1_BlazorUI.Application.UseCases.ItemUseCases ItemUseCases

<PageTitle>Add New Item</PageTitle>

<h1>Add New Item</h1>

<div class="card p-3">
    <EditForm Model="newItem" OnValidSubmit="AddNewItem">
        <DataAnnotationsValidator />
        <ValidationSummary />

        <div class="mb-3">
            <label for="itemName" class="form-label">Name:</label>
            <InputText id="itemName" Value="@newItem.Name" ValueExpression="@(() => newItem.Name)" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="itemDescription" class="form-label">Description:</label>
            <InputText id="itemDescription" Value="@newItem.Description" ValueExpression="@(() => newItem.Description)" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="quantityInStore" class="form-label">Quantity In Store:</label>
            <InputNumber TValue="int" Value="@newItem.QuantityInStore" ValueExpression="@(() => newItem.QuantityInStore)" class="form-control" min="0" />
        </div>


        <button type="submit" class="btn btn-primary w-100">Add Item</button>
    </EditForm>
</div>

@code {
    private Item newItem = new Item();

    private void AddNewItem()
    {
        ItemUseCases.AddItem(newItem);
        newItem = new Item();          
    }
}
